.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
!*.example.tfvars
.ansible/
ansible/inventories/*/generated*
*.retry
vault-password-file
.sops.yaml.local
.env
terraform/environments/private/
*clouds.yaml
*.terraform.lock.hcl
ansible/inventories/private/group_vars/