openstack_cloud        = "mycloud"
openstack_region       = "RegionOne"
external_network_name  = "public"
external_network_id    = "REPLACE-ME"
image_id               = "REPLACE-ME"
key_pair_name          = "nyameko-admin"
edge_flavor            = "REPLACE-ME"
k8s_control_plane_flavor   = "REPLACE-ME"
k8s_worker_flavor           = "REPLACE-ME"
bootstrap_ssh_cidr     = "REPLACE-ME/32"
