QUANTUM_PLATFORM_WIREGUARD_API={{ wireguard_platform_api_url }}
QUANTUM_PLATFORM_WIREGUARD_TOKEN={{ wireguard_platform_reconciler_token }}
WIREGUARD_INTERFACE={{ wireguard_interface }}
WIREGUARD_PLATFORM_STATE=/var/lib/quantum-platform/wireguard-managed-peers.json
