apiVersion: v1
kind: ConfigMap
metadata:
  name: coredns
  namespace: kube-system
data:
  Corefile: |
    .:53 {
        errors
        health {
           lameduck 5s
        }
        ready
        kubernetes {{ kubernetes_coredns_cluster_domain }} in-addr.arpa ip6.arpa {
           pods insecure
           fallthrough in-addr.arpa ip6.arpa
           ttl 30
        }
        prometheus :9153
        forward . /etc/resolv.conf {
           max_concurrent 1000
        }
        cache 30 {
           disable success {{ kubernetes_coredns_cluster_domain }}
           disable denial {{ kubernetes_coredns_cluster_domain }}
        }
        loop
        reload
        loadbalance
    }
{% for private_zone in kubernetes_coredns_private_zones %}

    {{ private_zone.zone }}:53 {
        errors
        cache 30
        forward . {{ private_zone.forwarders | join(' ') }}
    }
{% endfor %}
