[Global]
auth-url = {{ cinder_csi_auth_url }}
application-credential-id = {{ cinder_csi_application_credential_id }}
application-credential-secret = {{ cinder_csi_application_credential_secret }}
project-id = {{ cinder_csi_project_id }}
{% if cinder_csi_region | length > 0 %}
region = {{ cinder_csi_region }}
{% endif %}

[BlockStorage]
rescan-on-resize = true
