---
clusterID: "{{ cinder_csi_cluster_id }}"

secret:
  enabled: true
  create: false
  name: "{{ cinder_csi_secret_name }}"
  filename: "{{ cinder_csi_secret_filename }}"

storageClass:
  enabled: false

csi:
  provisioner:
    topology: "true"
  snapshotter:
    enabled: true
  plugin:
    httpEndpoint:
      enabled: false
    controllerPlugin:
      replicas: 2
