global
    log /dev/log local0
    log /dev/log local1 notice
    daemon
    maxconn 4096

defaults
    log global
    mode tcp
    option tcplog
    timeout connect 5s
    timeout client 30s
    timeout server 30s

frontend kubernetes-api
    bind {{ api_lb_listen_address }}:{{ api_lb_listen_port }}
    default_backend kubernetes-control-plane

backend kubernetes-control-plane
    balance roundrobin
{% for backend in api_lb_backends %}
    server {{ backend.name }} {{ backend.address }}:{{ backend.port }} check
{% endfor %}

frontend ingress-http
    bind {{ api_lb_listen_address }}:80
    default_backend traefik-http

backend traefik-http
    balance roundrobin
{% for worker in api_lb_ingress_workers %}
    server {{ worker.name }} {{ worker.address }}:{{ api_lb_ingress_http_port }} check
{% endfor %}

frontend ingress-https
    bind {{ api_lb_listen_address }}:443
    default_backend traefik-https

backend traefik-https
    balance roundrobin
{% for worker in api_lb_ingress_workers %}
    server {{ worker.name }} {{ worker.address }}:{{ api_lb_ingress_https_port }} check
{% endfor %}
