global
    log /dev/log local0
    log /dev/log local1 notice
    daemon
    maxconn 4096

defaults
    log global
    mode tcp
    option tcplog

    timeout connect 5s
    timeout client 30s
    timeout server 30s

frontend application-http
    bind {{ api_lb_listen_address }}:80
    default_backend traefik-http

backend traefik-http
    balance roundrobin
{% for worker in api_lb_ingress_workers %}
    server {{ worker.name }} {{ worker.address }}:80 check
{% endfor %}

frontend application-https
    bind {{ api_lb_listen_address }}:443
    default_backend traefik-https

backend traefik-https
    balance roundrobin
{% for worker in api_lb_ingress_workers %}
    server {{ worker.name }} {{ worker.address }}:443 check
{% endfor %}

frontend prometheus
    bind {{ api_lb_listen_address }}:{{ api_lb_prometheus_port }}
    mode http
    http-request use-service prometheus-exporter if { path /metrics }
