flush ruleset

table inet filter {
    chain input {
        type filter hook input priority filter;
        policy drop;

        iifname "lo" accept
        ct state established,related accept

        ip protocol icmp accept
        ip6 nexthdr icmpv6 accept

        udp dport 51820 accept

        tcp dport 22 ip saddr {{ bootstrap_ssh_cidr }} accept
        tcp dport 22 ip saddr {{ vpn_cidr }} accept

        udp dport 53 ip saddr { {{ mgmt_cidr }}, {{ k8s_cidr }}, {{ vpn_cidr }} } accept
        tcp dport 53 ip saddr { {{ mgmt_cidr }}, {{ k8s_cidr }}, {{ vpn_cidr }} } accept

        tcp dport { 80, 443 } ip saddr {{ vpn_cidr }} accept

        tcp dport { 1514, 1515, 55000 } ip saddr { {{ mgmt_cidr }}, {{ k8s_cidr }}, {{ vpn_cidr }} } accept
    }

    chain forward {
        type filter hook forward priority filter;
        policy drop;

        ct state established,related accept

        iifname "wg0" oifname "{{ ansible_facts.default_ipv4.interface }}" accept
        iifname "{{ ansible_facts.default_ipv4.interface }}" oifname "wg0" ct state established,related accept

        # Public web ingress:
        # OpenStack FIP → edge → HAProxy VIP
        iifname "{{ ansible_facts.default_ipv4.interface }}" oifname "{{ ansible_facts.default_ipv4.interface }}" ip daddr 10.51.0.100 tcp dport { 80, 443 } accept
    }

    chain output {
        type filter hook output priority filter;
        policy accept;
    }
}

table ip nat {
    chain prerouting {
        type nat hook prerouting priority dstnat; policy accept;

        iifname "{{ ansible_facts.default_ipv4.interface }}" ip daddr 10.50.0.10 tcp dport { 80, 443 } dnat to 10.51.0.100
    }

    chain postrouting {
        type nat hook postrouting priority srcnat;
        policy accept;

        ip saddr {{ vpn_cidr }} oifname "{{ ansible_facts.default_ipv4.interface }}" masquerade
        ip daddr 10.51.0.100 tcp dport { 80, 443 } oifname "{{ ansible_facts.default_ipv4.interface }}" snat to 10.50.0.10
    }
}
